@model int

<div data-type="module" data-module="Collective.Shared.ImageUpload">
    @using(Html.BeginForm("Upload", "Home", new { enctype = "multipart/form-data" })) 
    {
        @Html.Hidden("id", Model)
        <input type="file" />
    }

    @Html.Hidden("result")
    <input type="submit" value="Upload" />
</div>