/* HTML5 Boilerplate */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
    color: #222;
}
body {
    font-size: .8em;
    line-height: 1.4;
	overflow-y: scroll;
	overflow-x: hidden;
}
input{ 
	border:none; 
	height:20px;
	margin-bottom:10px;
	padding-left:5px
}
small{
	font-size:1em
	}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
	clear:both;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
a {
	text-decoration: underline;
	color:#fff;
    cursor: pointer
	}
h2{
	font-size:2em;
	font-weight: 400;
	letter-spacing:1px
	}
h3{
	/*color:#f7323f;*/
	font-size:1.5em;
	letter-spacing:1px
	}		
label{
	margin-bottom:5px;
	display:inline-block
	}		
legend{
	text-align:center;
	width:100%;
	background-color:#f7323f;
	padding:15px;
	text-transform:uppercase;
	font-size:.8em  
	}	

body [data-type="Loader"] {
    position: absolute;
}	
.admin {
    position: fixed;
    right: 20px;
    top: 20px;
    background: url('../Images/colec7iva_adminBtn.png') no-repeat center center;
    text-indent: -99999px;
    width: 40px;
    height: 40px;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   COLECTIVA - Global Styles
   ========================================================================== */
* { 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	}
html{
	background: top right no-repeat;
	/*background:url(../Gallery.jpg) top right no-repeat; 	*/
	background-position:fixed;
	background-color:#000;
	color:#fff;	
	font-weight:100;
	}
	
p{
	letter-spacing: 1px; 
	color:#fff;
	}
header, article, footer, aside{
	width:35%;
	position:fixed;
	padding:0px 0 0 40px;
	animation-duration: 3s;
	z-index:20;
	}	
header{
	padding-top:47px
	}
header img{
	cursor: pointer;
}			
header h1{ 
	font-weight:100; 
	letter-spacing:.1em;
	color:#fff;
	margin: 3px 0px 0px;
	font-size:.9em
	}
header nav{
	margin-top:29px;
	letter-spacing: 1px;
	}		
header nav  ul{
	padding:0px;
	list-style:none;
	margin-bottom:0px
	}		
header nav li { 
	display: inline; 
	list-style-type: none; 
	padding-right: 25px; 
	}
header nav li a, nav.submenu a{ 
	text-decoration:none; 
	color:#fff
	}
header nav li a:hover, 
header nav li.active a,
nav.submenu a:hover,  
nav.submenu li.active a{ 
	text-decoration:line-through; 
	color:#f7323f;  
	}
big {
	color: #f7323f;
	font-size: 100px;
	letter-spacing: 1px;
	font-weight: bold;
	line-height: 104px;
	padding: 0px;
	display: block;
	height: 90px;
}
aside {
	top: 30%;
	z-index: 999;
	background-color: #000;
	margin-left: 1.5%;
	padding-bottom: 19px;
	width: 45%;
	padding-left: 20px;
	overflow: hidden;
}
aside p{
	font-size:1.3em;
	margin-bottom: 0px
	}	
aside p:nth-child(3){
	margin-bottom: 1em;
}

aside a {
	display: block;
	color: #fe0000;
	text-decoration: none;
	font-size: 1.3em;
}	
section{
	position:absolute;
	width:70%;
	right: 0px;
	top:30%;
	color:#fff;
	z-index:10;
	padding-bottom:100px;
	clear: both;
overflow: hidden;
	}
section hr{
	border-color:#333
	}		
nav.submenu{
	position:fixed;
	top:139px;
	padding:0px 0 0 40px;
	z-index:99999
	}
nav.submenu a{
	margin-right:30px
	}	
nav.submenu ul{
	list-style-type:disc;
	color:#f7323f;
	margin:0px;
	padding:0px;
	margin-left:16px
	}
nav.submenu ul li{
	float:left;
	}
.home-img{
	display:none
	}		
/* ==========================================================================
   COLECTIVA - Gallery 
   ========================================================================== */
aside.gallery{
	width:27%;
	}
aside.gallery p{
 }	
aside.gallery h2{
	margin:0px;
	color:#f7323f;
	}
aside.gallery span{
	color:red;
	float:left
	}	
/* 	Filtering STYLES  */	
.isotope-item {
  z-index: 2;
  margin-bottom:22px;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}			
div.selectBox{
	position:relative;
	display:inline-block;
	cursor:pointer;
	line-height:26px;
	clear:both;
	color:#fff;
	margin-left:10px;
	width:60%
}
section.artwork div.selectBox{
	width:90%
	}
a.selected{
	text-indent:20px;
	overflow:hidden;
	color:#fff;
}
section.artwork a.selected{
	text-indent:5px
}
span.selectArrow{
	width:100%;
	text-align:right;
	position:absolute;
	left:0px;
	border:1px solid #333;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	padding-right:3%;
	font-size:.5em;
	color:#f7323f;
}
span.selectArrow,a.selected{
	float:left;
	height:25px;
	z-index:1;
	text-decoration:none;
}
div.selectOptions{
	position:absolute;
	top:27px;
	left:0;
	width:198px;
	border:1px solid #333;
	overflow:hidden;
	padding-top:2px;
	display:none;
	background-color:#000;
	z-index:99999;
	border-top:none;
}
a.selectOption:before{
	content:"";
	display:inline-block;
	background-color:#f7323f;
	width:5px;
	height:5px;
	border-radius:50%;
	margin-right:10px
}	
a.selectOption{
	display:block;
	width:100%;
	line-height:20px;
	padding:5px 10%;
	text-decoration:none;
	color:#fff;
}
a.selectOption:hover{
	color:#f7323f;
}			
#container h2, #container h3{
	margin:0px;
	font-weight:lighter;
	color:#fff;
	font-size:1em
}		
#container h2{
	margin-top:1em;
	color:#f7323f;
}

/* ==========================================================================
   COLECTIVA - Artwork Detail 
   ========================================================================== */
aside.gallery ul, 
section.artwork ul{
	margin:0px;
	padding-left:20px;
	color:#f7323f;
	}
section.artwork ul{
	margin-top:1em
	}	
.artwork{
	width: 69%;
	right: 0px;
	margin:0;
	padding:0
	}
.artwork header{
	display:block;
	position:relative;
	margin:0px;
	padding:0px;
	width:100%
	}
.artwork header img{ 
	width:70%;
	float:left
	}
.artwork aside{ 
	width:25%;
	padding:0px;
	position:relative;
	float:right;
	margin-right: 20px;
	}
.artwork aside img{
	width:auto;
	}	
.artwork aside h4, .artwork aside h3, .artwork aside p{
	margin:0px;
	padding:0px;
	}	
	
.artwork aside h4, .artwork aside h3{
	color:#f7323f
	}
.artwork aside h4{
	font-weight:100;
	margin-bottom:25px;
	}	
.artwork aside .selectBox{
	display:block;
	float:none;
	margin:0px;
	bottom:0px;
	overflow:hidden;
	margin-bottom:25px
	} 
.artwork aside a.selected{
	color:#fff
	}
.artwork aside .selectBox .selectArrow, .artwork aside .selectBox .selectOptions{
	width:100%;
	float:right;
	right:0px;
	}		
.artwork aside .label{
	margin:25px 0;
	display:block
	}	
.artwork aside strong{
	font-weight:100;
	display:block
	}	
.artwork aside .collection ul a{ 
	color:#fff
	}
.artwork aside .collection img{
	width:40%;
	margin:10px 10px 0px 0px 
	}
.buy{
	margin:25px 0
	}
.buy .shopp a{
	color:#f7323f;
	text-decoration:none;
	letter-spacing:.09em;
	font-size:1.2em
	}	
/* ==========================================================================
   COLECTIVA - Shopping Cart 
   ========================================================================== */
.breadcrumb{
	margin: 1em 0 3em
}		
.breadcrumb a{
	text-decoration: none
}
section.shopping-cart{
	top:29%;
	padding-right:20%;
	}
section.shopping-cart ul{
	padding: 0px	
	}
section.shopping-cart h2{
	margin: 0px;
	color: #f7323f;
	margin-top: .5em;
	}
section.shopping-cart header{
	display: block;
	padding: 0px;
	margin: 0px;
	position: relative;
	width:100%
	}
section.shopping-cart table{
	border-top:solid 1px #333;
	width:100%;
	font-weight:100
	}	
section.shopping-cart table thead{
	text-align:left
	}	
section.shopping-cart table tr{
	border-bottom:solid 1px #333
	}	
section.shopping-cart table td, section.shopping-cart table th{
	padding:15px 0px;
	width:14%;
	padding-right:20px
	}		
section.shopping-cart table td:last-child, 
section.shopping-cart table th:last-child{
	width:1%;
	text-align:center
	}	
section.shopping-cart table td:nth-child(2),
section.shopping-cart table th:nth-child(2) {
	width:24%
	}	
section.shopping-cart table td:nth-child(2) span{
	 color:#f7323f;
	 display:block;
	 line-height:1.2em
	}
section.shopping-cart table td:nth-child(2) span strong{
	display:block
	}	

section.shopping-cart table td:nth-child(4) span{
	background-color:#fff;
	color:#000;
	display:inline-block;
	padding:5px 10px;
	font-weight:600
	}	
section.shopping-cart table td:nth-child(6){
	color:#f7323f
	}	
.totals *{
	margin:0px;
	padding:0px;
	text-align:right;
	line-height:normal;
	font-weight:100
	}	
.totals, .totals big, .totals .gran-total{
	padding:33px 0;
	display:block
	}
.totals big, .totals .gran-total{
	font-size:1.5em
	}	
.totals big{ color:#fff} 
.totals .gran-total{ color:#f7323f}	

.totals div{
	width:18%;
	float:right
	}
.totals .labels	{
	width:30%
	}
.totals span{
	display:block;
	margin-bottom:3px
	}			
section.shopping-cart input{
	width:100%;
	background-color:#fff
	}	
div.credit-card-info input{
	width:30%;
	display:block
	}
div.credit-card{
	border:solid 1px red;
	width:50%
	}	
section.shopping-cart .col-right{
	width:45%
	}
section.shopping-cart h4{
	color:#fff;
	font-size:1.6em;
	font-weight:100;
	}	
section.shopping-cart hgroup h2, hgroup h3, hgroup h4{
	margin:0px;
	}	
.client{
	display:block;
	}	
.client.name{
	color:#f7323f;
	font-weight:600;
	font-size:1.2em;
	margin-top:2em
	}
.client.address{
	margin:2em 0
	}	
/* ==========================================================================
   COLECTIVA - Footer
   ========================================================================== */		
footer{
	width:24%;
	bottom:4%; 
	letter-spacing:1px ;
	font-weight: 100;
	font-size:.8em
	}
footer p{
	display:block;
	clear:both;
	margin:2em 0px;
	font-weight: 100
}		
footer .login{
	display: block;
	color:#f7323f;
	clear: both;
    margin-top: -20px;
    margin-bottom: -20px;
}

footer .login a:first-child{
	padding-right: 10px
}
footer .login a{
	margin:10px 0px;
	display: inline-block; 
	margin-right: 10px;
	color:#f7323f
}

.total-cont, .secure-payment, .order-history{
	line-height:1.2em;
	display:block;
	}
.redbox{
	background-color:#f7323f;
	display:inline-block;
	padding:0px 3px;
	color:#fff;
	left:215px
	}
img.colectiva-car,
.redbox{
	position:absolute;
	}		
img.colectiva-car{
	left:190px;
	top:-3px
	}	

footer small{
	display:block; clear:both
	}	
footer strong{
	display: block;
	}

footer input[type=search]{
	border:solid 1px #333;
	color:#fff;
	background:#000;
	height:20px;
	padding-left:10px;
	margin-bottom:2em
	
	}
footer input[type=search], .social-media{
	width:50%;
	float:left;
	
	}
.social-media{
	width:40%;
	float: right;
	
	}
.social-media a{
	display:inline-block;
	width:19px;
	height:19px;
	background:url(../imgs/sprite.png);
	margin-left:8px;
	text-indent:99999px;
	}					
.social-media a.twitter{
	background-position:-30px 0px
	}	
.social-media a.pinterest{
	background-position:-57px 0px
	}		
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* ==========================================================================
	Fancy Box
   ========================================================================== */
   
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #010101;
	color: #fff;
	text-shadow: none;
	border:solid 1px #242424;
	
}
.fancybox-skin input{
	background-color:#fff;
	width:100%
	}
.fancybox-skin h3, .fancybox-skin h2{
	font-weight:lighter;
	letter-spacing:1px;
	font-size:1em
	}	
.fancybox-skin h2{
	font-size:1.5em;
	
	}
.fancybox-skin hr{
	border-top:solid 1px #232323
	}	
.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../imgs/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../imgs/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../imgs/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../imgs/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
	}
.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
	}
/* Title helper */
.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
	}	
.fancybox-opened .fancybox-title {
	visibility: visible;
	}
.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
	}
.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
	}
.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
	}
.fancybox-title-inside-wrap {
	padding-top: 10px;
	}
.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/* CONTROLS */
.col-left{
	width:48%;
	float:left
	}
.col-right{	
	width:48%;
	float: right
	}
.col-third{
	width:33.333%;
	float:left;
	padding:10px 20px 20px 0px
	}
.col-third.last{ 
	float:right;
	padding-right:0px
	}
.controls {
	clear:both;
	overflow:hidden;
	list-style-type:none;
	width:auto;
	display:inline-block;
	float:right
	}
.controls li{
	float:left;
	width:100px;
	margin:0px;
	padding:0px;
	height:45px;
	position:relative
	}	
.controls li:first-child:before{
	content:"|";
	position:absolute;
	right:0px;
	top:12px;
	color:#F9343D;
	}
.controls a, input[type="button"] {
	color:#F9343D;
	background:none;
	display:inline-block;
	border:none;
	width:75%;
	text-align:right;
	float:left;
	margin-top:13px
	}	
.controls .next, input.next{
	background-color:#F9343D;
	float: right;
	width:100%;
	padding:13px 27px;
	color:#fff;
	border:none;
	margin-top:0px;
	text-align:center;
	height:40px
	}	
input.next {
	width:20%;
	float: right
	}	
input[type="search"]{
	width:70%;
	float:left
	}	
	
/* ==========================================================================
   ABOUT US 
   ========================================================================== */
	
section.about-us{
	padding-right:25%
	}
section.about-us h2{ 
	margin:0px; 
	padding:0px; 
	margin-bottom:1em;
	color:#f7323f
}
section.about-us legend{
	text-indent:9999px;
	height:200px
	}
section.about-us div h2, section.about-us div h3{
	margin:0px;
	font-size:1.2em
	}	
	
/* ==========================================================================
   CONTACTO
   ========================================================================== */
section.contact{
	padding-right:10%
	}	
section.contact input{
	width:100%
	}
section.contact .col-left{
	width:40%
	}	
section.contact .col-right{
	width:50%
	}		
section.contact .col-right a{
	position:absolute;
	right:13.5%;
	}		
textarea{
	width:100%;
	height:170px;
	border:none;
	padding:10px
	}	
iframe{
	margin-top:1.6em
	}	
	
/* Flexible iFrame */
.map {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.map iframe,   
.map object,  
.map embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
		
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (max-height: 900px){
/*footer{
	bottom:4%
	}*/
}
@media screen and (max-height: 800px){
/*	aside{
		top:32%;
	}*/
}
@media screen and (max-height: 700px){
	header, article, footer, aside, nav.submenu{
		display:block;
		position: relative
	}
	aside, footer{
		margin-top:6em
		}		
	nav.submenu{
		padding-top: 0px;
		top: 16px;
	}	
	section.artwork aside{
		margin-top:0px
		}
}

@media only screen and (max-width: 600px) {	

	form input[type=submit], form input[type=button]{
		width:100% ;
		text-align:center
	}
}
			
@media only screen and (max-width: 800px) {
    html{
		background:none;
		background-color:#000;
		}
	/* Global */
	header, article, footer, aside, section, nav.submenu{
		display:block;
		position:relative;
		width:93%;
		}	
	big{
		font-size:80px
		}	
	aside, footer{
		margin-top:3.8em
		}	
	section{
		left:40px;
		padding-bottom:0px;
		margin-top:40px;
		}	
	section img{
		width:100%
		}	
									
	footer{
		text-align:left;
		margin-bottom:4em
		}	
		
	/* HOME */
	.home-img{
		display: block;
		margin-left:0%;
		padding-bottom:5%
		}
	.home-img img{
		width:85%;
		}		
	.home-img strong{
		display:block;
		color:#f7323f;
		margin-top:1em
		}	
					
	/* Gallery */
	nav.submenu{
		top: 12px;
		margin-left: 0px
		}		
	aside.gallery, aside.gallery p{
		width:90%
		}
		
	/* Shopping Cart */	
	section.shopping-cart{
		padding-right:0px
		}				
	
	section.artwork,  section.artwork aside	{
		width:100%;
		margin:2em 0px 2em;
		padding:0px;
		clear:both;
		overflow:hidden		
		}
 	section.artwork aside{
		left:0px;
		}
	.artwork aside .selectBox .selectArrow, .artwork aside .selectBox .selectOptions{
		width:69%
		}	
	.artwork aside .collection img{
		width:32%;
		margin:5% 5% 0px 0px 
		}
		
	/*  Shooping cart */	
	section.shopping-cart{
		width:79%;
		}
	
	section.shopping-cart div div label{

		}	
	section.shopping-cart div, 
	section.shopping-cart .col-right, 
	section.contact .col-right, 
	section.contact .col-left
	{
		width:100%;
		padding:0px;
		float:none
		}		
	/*  Loggin */	
	section.contact{
		padding-right:60px
		}
	
	}

@media only screen and (max-width: 1098px) {
	footer input[type=search], .social-media{
		width:100%;
		margin-bottom:1em
		}
	.social-media{
		overflow:hidden
		}	
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('../imgs/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('../imgs/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}


#login{
	width:500px;
    height:540px;
    border:1px solid #444;
    padding:25px;
    top:50%;
    left:50%;
    position:absolute;
    margin-top:-300px;
    margin-left:-270px;
    background-color: #000;
    z-index: 9999;
}		

#login button{
    background-color:red;
    color:white;
    padding:6px;
    border:none;
    float:right;
    margin-bottom:25px;
}

#login label{
    float:left;
}

#login input{
    height: 24px;
    width: 100%;
}

#login .login-intro{
    font-size:13px;
    font-weight:normal;
    color:white;
    width: 95%;
}


div#overlay {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #FF0000;
    bottom: 0;
    height: 100px;
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    z-index: 999;
}
