@{
    ViewBag.Title = "Artist Administration";
    Layout = "~/Views/Shared/_Administration.cshtml";
}

<div data-type="module" data-module="Collective.Admin.Artists">
    <div style="text-align: right; position: absolute; top: -10px; right: 10px;">
        <button data-bind="click: GoToNew">New</button>
    </div>
    <table style="width: 100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Items">
            <tr>
                <td data-bind="text: Name"></td>
                <td data-bind="click: $parent.GoToDetail"><a>Detail</a></td>
            </tr>
        </tbody>
    </table>
</div>
