@{
    ViewBag.Title = "Static Content Administration";
    Layout = "~/Views/Shared/_Administration.cshtml";
}

<div data-type="module" data-module="Collective.Admin.Content">
    <h2>About US</h2>
    <textarea data-bind="value: About"></textarea>

    <h2>Terms And Conditions</h2>
    <textarea data-bind="value: Conditions"></textarea>
</div>
