<div class="row" data-type="module" data-module="Collective.Admin.Header">
    <div class="large-3 columns" style="padding:0px;">
        <img style="margin:40px 0;" alt="C7-Logo" src="@Url.Content("~/Images/COLEC7IVA-Admin-Logo.png")" />
    </div> 
    <div class="large-9 columns">
        <ul class="inline-list right" style="margin-top:40px;">
            <li data-bind="text: WelcomeMessage"></li>
            <li><a href="/Admin/Logout">Logout</a></li>
        </ul>
    </div>
    <hr />
</div>   