<div class="large-3 pull-9 columns" style="padding-left:0px" data-type="module" data-module="Collective.Admin.Sidebar">
    <h3 style="margin:0px;">Administration Menu</h3>
    <hr />
    <ul class="side-nav" data-bind="foreach: Items">
        <li><a href="#" data-bind="text: title, attr: { href: url }"></a></li>
    </ul>
</div>