@model string

<section data-type="module" data-module="Collective.Home.About" class="about-us">
    
    <aside class="gallery">		        	
		            
        <h2 data-key="Contact"></h2>
	    <p>
            In the Contemporary Art category you can discover up-and-coming artist who have recently entered the Art Market and have impressed COLECTIVA with their innovative concepts. Their works are usually displayed in local galleries and museums.
            Their works are usually displayed in local galleries and museums.
        </p>
        <a href="mailto:info@colectiva.com">info@colectiva.com</a>
    </aside>
    
    <div></div>
    @Html.Hidden("Content", @Model)
</section>
