@model Collective.Model.IMetaDefinable

@section Meta
{
    <meta name="name" content="@Model.Meta.Title" />
    <meta name="description" content="@Model.Meta.Description">
    <meta name="keywords" content="@Model.Meta.Tags">
}

<div data-type="module" data-module="Collective.Home.Detail">

    <aside class="gallery">		        				
        <h2 data-bind="text: ArtistName"></h2>
        <p>
            In the Contemporary Art category you can discover up-and-coming artist who have recently entered the Art Market and have impressed COLECTIVA with their innovative concepts. Their works are usually displayed in local galleries and museums.
            Their works are usually displayed in local galleries and museums.
        </p>
        <ul>
            <li>
                <a href="#" 
                    data-key="ViewArtistGallery" 
                    data-bind="click: NavigateToArtist">
                </a>
            </li>
        </ul>
    </aside>

    <section class="artwork">               	 	        	 
        <header> <img data-bind="attr: { src: PhotoUrl }" /> </header>
        
        <aside>             	
            <p data-key="Photography"></p>
            <h3 data-bind="text: Name"></h3>
            <h4 data-bind="text: Code"></h4>
                
            <span class="label" data-key="Size"></span>

            <div data-bind="foreach: AvailableSizes">
                <div>
                    <span data-bind="text: Name"></span>
                    @*<span data-bind="text: Price"></span>*@
                    <input type="checkbox" />
                </div>
            </div>
                
            <div class="clearfix"></div>
                
            <span class="label" data-key="Framing"></span>
            <div class='selectBox'>
                <a class='selected' data-bind="click: ShowOptions, text: SelectedFrameName"></a>
                <span class='selectArrow' data-bind="click: ShowOptions"> &#9660 </span>
                <div class="selectOptions" data-bind="foreach: AvailableFrames">	 
                    <a class="selectOption" href="#" data-bind="click: $parent.SetFrame, text: Name"></a>		 
                </div>
            </div>    
                
            <div class="clearfix"></div>
     			
            <div class="buy" data-bind="if: Collective.Global.ProductionEnabled">           
	            <span class="label" data-bind="text: TotalText">
                    <strong data-key="ExcludingPrice"></strong>
	            </span>  
    	        <span class="shopp">
                    <a href="#" data-key="AddToCart"></a>
    	        </span>     
		    </div>
                                            
        </aside>             
    </section>

</div>