<header data-type="module" data-module="Collective.Home.Header">

    <a data-bind="if: IsAdministrator(), click: GoToAdmin" class="admin">
        <strong data-key="AdminAccess"></strong>
    </a>

    <img data-bind="click: GoToHome" src="@Url.Content("~/Images/colec7iva-logoweb.png")" alt="COLEC7IVA" /><br/>

    <nav>
    	<ul data-bind="foreach: Items">
        	<li> <a href="#" data-bind="attr: { title: title }, text: title, click: $parent.Navigate"></a> </li>
        </ul>
    </nav>

</header>