<header data-type="module" data-module="Collective.Home.Header">

    <a data-bind="if: IsAdministrator()" class="admin">
        <strong data-key="AdminAccess" data-bind="click: GoToAdmin"></strong>
    </a>

    <img data-bind="click: GoToHome" src="@Url.Content("~/Content/Images/colec7iva-logoweb.png")" width="234" height="24" alt="COLEC7IVA" /><br/>

    <h1>
	    <span>Contemporary</span>. 
        <span>Style</span>. 
        <span>Art</span>.
    </h1>

    <nav>
    	<ul data-bind="foreach: Items">
        	<li> <a href="#" data-bind="attr: { title: title }, text: title, click: $parent.Navigate"></a> </li>
        </ul>
    </nav>

</header>