
<aside data-type="module" data-module="Collective.Home.Index">
    <p>Presenting</p>
    <big data-bind="text: CurrentName"></big>
    <p>Part of the COLEC7IVA Photography Series</p>
</aside>

<section class="home-img">
    <img src="@Url.Content("~/Content/Images/Gallery/gall_01.jpg")" />
    <strong>Nydia Lilian</strong> Photography
</section>