@model Collective.Model.IMetaDefinable

@section Meta
{
    <meta name="name" content="@Model.Meta.Title" />
    <meta name="description" content="@Model.Meta.Description">
    <meta name="keywords" content="@Model.Meta.Tags">
}

<aside data-type="module" data-module="Collective.Home.Index">
    
    <p data-key="Presenting"></p>
    <big data-bind="text: CurrentName"></big>

    <p>
        <span data-key="IndexTitle">Part of the COLEC7IVA Master Photography Series by</span>
        <span data-bind="text: Artist"></span>
    </p>

    <span data-key="StartingAt">Starting at</span>&nbsp;$
    <span data-bind="text: Price"></span>

    <a data-bind="click: GoToDetail" href="#" data-key="OrderNow">Order Now Online</a>
</aside>