<div id="login" class="login-box" style="display: none" data-type="module" data-module="Collective.Home.Login">
    
        <button value="Cancel" data-bind="click: Cancel">X</button>
    <h3 data-key="HeaderLogin" class="login-intro"></h3>
    <hr />
    <h2 data-key="Login"></h2>
    
    <div>
        <div class="col-left">
            <label data-key="Email"></label>*<br />
            <input type="text" data-bind="value: Username" />
        </div>

        <div class="col-right">
            <label data-key="Password"></label>*<br />
	        <input type="password" data-bind="value: Password" />
    	</div>            
            
        <button class="next" data-bind="click: RequestLogin">LogIn</button>
    </div>

    <hr />
    <h2 data-key="HeaderRegister"></h2>
    
    <div data-bind="with: Register">

        <div class="col-left">
            <label data-key="Username"></label>*
            <input type="text" data-bind="value: Username" />
                    
            <label data-key="Password"></label>*
            <input type="password" data-bind="value: Password" />
        </div>

        <div class="col-right">
			<label data-key="Email"></label>*
    	    <input type="text" data-bind="value: Email" />
                
	        <label data-key="ConfirmPassword"></label>*
            <input type="password" />
        </div>                
        
        @*<button value="Cancel" data-bind="click: Cancel" />*@
        <button class="next" data-bind="click: RequestRegister">Register</button>
    </div>

</div> 