<div id="login" class="login-box" data-type="module" data-module="Collective.Home.Login">
    
    <h5 data-key="HeaderLogin" data-bind="visible: !IsLoggedIn()" class="login-intro"></h5>

    <div data-bind="if: !IsLoggedIn()" class="loginregion">
        <div class="col-left">
            <input type="text" data-bind="value: Username" data-holder="Email"/>
        </div>

        <div class="col-right">
	        <input type="password" data-bind="value: Password" data-holder="Password" />
    	</div>            
            
        <button class="next" data-bind="click: RequestLogin">LogIn</button>
    </div>

    <p data-bind="if: IsLoggedIn()">
        <span data-key="Welcome">Welcome back</span>&nbsp;
        <span data-bind="text: FirstName"></span>!&nbsp;
        <a data-bind="click: LogOut">Log Out</a>
  	</p>

  	<p data-bind="if: !IsHomePage() && IsLoggedIn() && ShowProduction()">
        <span class="total-cont" data-bind="text: SubTotal"></span>
        <span class="secure-payment" data-key="SecurePayment">Secure Payment</span>
        <span class="order-history"  data-key="OrderHistory">Order History</span>
    </p>

	<div class="shopping-cart" data-bind="if: ShowProduction()">
        <img class="colectiva-car" src="@Url.Content("~/Images/C7-cart-icn.png")" width="26" height="20" alt="COLEC7IVA - Cart" />
        <span data-bind="text: ItemCount" class="redbox"></span>
    </div>

    <a data-bind="click: ShowRegister, visible: ShowProduction">
        <h5 data-key="HeaderRegister"></h5>
    </a>
    
    <div data-key="Popup" data-bind="with: Register" style="display: none;" id="register">
        <button value="Cancel" data-bind="click: Cancel">X</button>

        <div class="col-left">
            <input type="text" data-bind="value: Username" data-holder="Username" />
            <input type="password" data-bind="value: Password" data-holder="Password" />
        </div>

        <div class="col-right">
    	    <input type="text" data-bind="value: Email" data-holder="Email" />
            <input type="password" data-holder="ConfirmPassword" />
        </div>                
        
        @*<button value="Cancel" data-bind="click: Cancel" />*@
        <button class="next" data-bind="click: RequestRegister">Register</button>
    </div>

</div> 